## Домашняя работа 6

### Задача 1

In [1]:
import pandas as pd

In [36]:
df = pd.read_csv('ratings.csv')

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

In [72]:
def rate_func(value):
    if value <= 2:
        return 'низкий рейтинг'
    if value > 2 and value <= 4:
        return 'средний рейтинг'
    if value > 4:
        return 'высокий рейтинг'
    return 'none'

In [73]:
%%time
df['class'] = df['rating'].apply(rate_func)

CPU times: user 2.13 s, sys: 517 ms, total: 2.65 s
Wall time: 2.91 s

In [69]:
df

          userId  movieId  rating   timestamp            class
0              1      296     5.0  1147880044  высокий рейтинг
1              1      306     3.5  1147868817  средний рейтинг
2              1      307     5.0  1147868828  высокий рейтинг
3              1      665     5.0  1147878820  высокий рейтинг
4              1      899     3.5  1147868510  средний рейтинг
...          ...      ...     ...         ...              ...
25000090  162541    50872     4.5  1240953372  высокий рейтинг
25000091  162541    55768     2.5  1240951998  средний рейтинг
25000092  162541    56176     2.0  1240950697   низкий рейтинг
25000093  162541    58559     4.0  1240953434  средний рейтинг
25000094  162541    63876     5.0  1240952515  высокий рейтинг

[25000095 rows x 5 columns]

### Задача 2

In [70]:
key_words = pd.read_csv('keywords.csv')

In [71]:
key_words.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [106]:
key_words.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 3 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   keyword  100000 non-null  object
 1   shows    100000 non-null  int64
 2   region   100000 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.3+ MB

In [102]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [107]:
def geo_func(value):
    if ('москва' or 'тула' or 'ярославль') in value:
        return 'Центр'
    if ('петербург' or 'псков' or 'мурманск') in value:
        return 'Северо-Запад'
    if ('владивосток' or 'сахалин' or 'хабаровск') in value:
        return 'Дальний Восток'
    return 'undefined'

In [108]:
%%time
key_words['region'] = key_words['keyword'].apply(geo_func)

CPU times: user 30.3 ms, sys: 3.45 ms, total: 33.7 ms
Wall time: 31.8 ms

In [120]:
# проверка результата работы
print(key_words[key_words['region'].isin\
                           (['Центр', 'Северо-Запад', 'Дальний Восток'])].head(10))
print(key_words)

                        keyword   shows        region
127                авито москва  979292         Центр
370    авито ру санкт петербург  425134  Северо-Запад
564   погода в санкт петербурге  292489  Северо-Запад
1063        фарпост владивосток  176951  Северо-Запад
1236       банк санкт петербург  174375  Северо-Запад
1259                     москва  153050         Центр
1346            санкт петербург  144232  Северо-Запад
1396            гисметео москва  140279         Центр
1482           госуслуги москва  133061         Центр
1682              погода москва  151701         Центр
                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  undefined
99996      frigate для firefox      3630  undefined
99997                   укрсиб      3630  undefined
99998  погода в ялте на неделю      3688  undefined
99999                     ггму      3630  undefined

[100000 rows x 3 columns]