## Домашняя работа №5

### Задача 1

In [2]:
import pandas as pd

data_ratings = pd.read_csv('ratings.csv')
data_movies = pd.read_csv('movies.csv')

In [3]:
data_ratings.head(2)

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817

In [4]:
data_movies.head(2)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [19]:
import re
five = data_ratings[data_ratings['rating'] == 5]
#five = data_ratings[data_ratings.rating == 5]
result = five.groupby('movieId').count().sort_values('rating', ascending=False)
result = result.head(1)
#print(result)
ans = data_movies[data_movies['movieId'] == result.index[0]]
#print(ans['title'])
ans = list(ans['title'])
print(''.join(ans))

Shawshank Redemption, The (1994)

### Задача 2

In [312]:
import pandas as pd

power = pd.read_csv('power.csv')

power = power[
    (
        (power['country'] == 'Latvia') |
        (power['country'] == 'Lithuania') |
        (power['country'] == 'Estonia')
    ) &
    (
        (power['category'] == 4) |
        (power['category'] == 12) |
        (power['category'] == 21)
    ) &
    (
        (power['year'] >= 2005) &
        (power['year'] <= 2010)
    ) &
    (power['quantity'] >= 0)
]

power_sum = power['quantity'].sum()
print(f"\nResult: {power_sum}")

Result: 240580.0